@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Rubik&display=swap');

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

:root {
    --slot-height: 104px;
    --slot-width: 104px;
}

$magic_card: linear-gradient(var(--rotate), rgb(208, 250, 0), rgb(255, 161, 20) 36%, rgba(255, 0, 0, 0.51));
$magic_reel: linear-gradient(120deg, rgb(87, 82, 61), rgb(152, 110, 47) 70%, rgba(37, 24, 24, 0.51));
$slot_width : 104px;
$slot_height : 104px;

// color 
@mixin text_shadow() {
    text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff,
        0 0 20px rgb(255, 0, 0),
        0 0 35px rgb(255, 0, 0),
        0 0 40px rgb(255, 0, 0),
        0 0 60px rgb(255, 0, 0),
        0 0 90px rgb(255, 0, 0);
}

@mixin magic_animation($z, $color) {
    &::before {
        content: "";
        width: 104%;
        height: 102%;
        border-radius: 15px;
        background-image: $color;
        position: absolute;
        z-index: $z;
        top: -1%;
        left: -2%;
        animation: spin 2.5s linear infinite;
    }

    &::after {
        position: absolute;
        content: "";
        top: calc(var(--slot-height) / 6);
        left: 0;
        right: 0;
        z-index: $z;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        transform: scale(0.8);
        filter: blur(calc(var(--slot-height) / 6));
        background-image: $color;
        opacity: 1;
        transition: opacity .5s;
        animation: spin 2.5s linear infinite;
    }
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 220, 110);
    background: radial-gradient(circle, rgba(255, 220, 110, 1) 0%, rgba(124, 35, 162, 1) 25%, rgba(66, 19, 86, 1) 100%);

    &.win1 {
        animation: win1 200ms steps(2, end) infinite;
    }

    &.win2 {
        animation: win2 200ms steps(2, end) infinite;
    }
}


@import '_home.scss';
@import '_sm.scss';
@import '_food.scss';