@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Rubik&display=swap');

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

:root {
    --slot-height: 104px;
    --slot-width: 104px;
}

$magic_card: linear-gradient(var(--rotate), rgb(208, 250, 0), rgb(255, 161, 20) 36%, rgba(255, 0, 0, 0.51));
$magic_reel: linear-gradient(120deg, rgb(87, 82, 61), rgb(152, 110, 47) 70%, rgba(37, 24, 24, 0.51));
$slot_width : 104px;
$slot_height : 104px;

// color 
@mixin text_shadow() {
    text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff,
        0 0 20px rgb(255, 0, 0),
        0 0 35px rgb(255, 0, 0),
        0 0 40px rgb(255, 0, 0),
        0 0 60px rgb(255, 0, 0),
        0 0 90px rgb(255, 0, 0);
}

@mixin magic_animation($z, $color) {
    &::before {
        content: "";
        width: 104%;
        height: 102%;
        border-radius: 15px;
        background-image: $color;
        position: absolute;
        z-index: $z;
        top: -1%;
        left: -2%;
        animation: spin 2.5s linear infinite;
    }

    &::after {
        position: absolute;
        content: "";
        top: calc(var(--slot-height) / 6);
        left: 0;
        right: 0;
        z-index: $z;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        transform: scale(0.8);
        filter: blur(calc(var(--slot-height) / 6));
        background-image: $color;
        opacity: 1;
        transition: opacity .5s;
        animation: spin 2.5s linear infinite;
    }
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 220, 110);
    background: radial-gradient(circle, rgba(255, 220, 110, 1) 0%, rgba(124, 35, 162, 1) 25%, rgba(66, 19, 86, 1) 100%);
}

div.all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 3 * $slot_height;

    .bigwin {
        font-family: 'Rubik', sans-serif;
        letter-spacing: 8px;
        font-size: 3rem;
        font-weight: 500;
        background-color: #7a1017;
        color: #ffe56e;
        border-radius: 15px;
        padding: 10px 10px 10px 20px;
        margin-bottom: 20px;
        box-shadow: 0 0 0 5px #d61c29;

        // shadow
        @include text_shadow();


    }
}

.slot {
    position: relative;
    width: calc(4 * var(--slot-width));
    height: calc(3 * var(--slot-height));
    // border: 4mm ridge rgba(237, 249, 7, 0.6);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(243, 224, 157, 0.75);
    // background: radial-gradient(circle, rgba(243, 224, 157, 1) 0%, rgba(218, 162, 80, 0.52) 25%,  100%);
    padding: 0.33 * $slot_width;

    // animation
    @include magic_animation(-1, $magic_card);

    .reel {
        position: relative;
        width: $slot_width;
        height: $slot_height * 3;
        border: 2px ridge rgba(139, 106, 60, 0.6);
        border-radius: 15px;
        background-image: url("../0629.png");
        background-repeat: repeat-y;
        background-position: 0 10px;

        // &::before,
        // &::after {
        //     content: "";
        //     position: absolute;
        //     top: 50%;
        //     width: 10px;
        //     height: 5px;
        //     background-color: rgba(black, 0.5);
        //     border-radius: 30px;
        // }

        // &::before {
        //     left: 0;
        //     transform: translate(-200%, -50%);
        //     border-radius: 100%;
        // }

        // &::after {
        //     right: 0;
        //     transform: translate(200%, -50%);
        // }

        // @include magic_animation(-1, $magic_reel);
    }
}

.say {
    margin-top: 2rem;
    font-size: 2rem;
    letter-spacing: 4px;
    padding: 8px 10px;
    background: #7a1017;
    color: white;
    border: 2mm ridge rgba(252, 183, 86, 0.6);
    border-radius: 15px;
    font-family: 'Noto Sans TC', sans-serif;

    &:hover {
        cursor: pointer;
    }

    @include text_shadow();
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }

    100% {
        --rotate: 360deg;
    }
}

// &.win1 {
//     animation: win1 200ms steps(2, end) infinite;
// }

// &.win2 {
//     animation: win2 200ms steps(2, end) infinite;
// }



// @keyframes win1 {
//     0% {
//         background: linear-gradient(45deg, orange 0%, yellow 100%);
//         box-shadow: 0 0 80px orange
//     }

//     100% {
//         background: linear-gradient(45deg, grey 0%, lightgrey 100%);
//         box-shadow: -2px 2px 3px rgba(black, 0.3);
//     }
// }

// @keyframes win2 {
//     0% {
//         background: linear-gradient(45deg, lightblue 0%, lightgreen 100%);
//         box-shadow: 0 0 80px lightgreen
//     }

//     100% {
//         background: linear-gradient(45deg, grey 0%, lightgrey 100%);
//         box-shadow: -2px 2px 3px rgba(black, 0.3);
//     }
// }