@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Rubik&display=swap");
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}
:root {
  --slot-height: 104px;
  --slot-width: 104px;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 220, 110);
  background: radial-gradient(circle, rgb(255, 220, 110) 0%, rgb(124, 35, 162) 25%, rgb(66, 19, 86) 100%);
}
body.win1 {
  animation: win1 200ms steps(2, end) infinite;
}
body.win2 {
  animation: win2 200ms steps(2, end) infinite;
}

.all_home {
  display: flex;
  flex-direction: column;
  width: 50vw;
}
.all_home a {
  width: 100%;
  text-decoration: none;
  color: black;
}
.all_home a .btn_home {
  text-align: center;
  height: 100%;
  font-size: 2rem;
  font-weight: 900;
  background-color: #e1f320;
  border-radius: 15px;
  padding: 10px 10px 10px 10px;
  margin-bottom: 2rem;
  box-shadow: 0 0 0 5px #d61c29;
  text-shadow: 1px 1px white, -1px -1px #444;
  transition: all 0.1s ease;
}
.all_home a .btn_home:hover {
  cursor: pointer;
  transform: scale(1.2);
}

div.all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 312px;
}
div.all .score {
  font-family: "Rubik", sans-serif;
  letter-spacing: 8px;
  font-size: 1.5rem;
  font-weight: 400;
  background-color: #7a1017;
  color: #ffe56e;
  border-radius: 15px;
  padding: 10px 10px 10px 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 0 5px #d61c29;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px rgb(255, 0, 0), 0 0 35px rgb(255, 0, 0), 0 0 40px rgb(255, 0, 0), 0 0 60px rgb(255, 0, 0), 0 0 90px rgb(255, 0, 0);
}
div.all .bigwin {
  font-family: "Rubik", sans-serif;
  letter-spacing: 8px;
  font-size: 3rem;
  font-weight: 500;
  background-color: #7a1017;
  color: #ffe56e;
  border-radius: 15px;
  padding: 10px 10px 10px 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 0 5px #d61c29;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px rgb(255, 0, 0), 0 0 35px rgb(255, 0, 0), 0 0 40px rgb(255, 0, 0), 0 0 60px rgb(255, 0, 0), 0 0 90px rgb(255, 0, 0);
}

.slot {
  position: relative;
  width: calc(4 * var(--slot-width));
  height: calc(3 * var(--slot-height));
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2d052d;
  padding: 34.32px;
}
.slot::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 15px;
  background-image: linear-gradient(var(--rotate), rgb(208, 250, 0), rgb(255, 161, 20) 36%, rgba(255, 0, 0, 0.51));
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}
.slot::after {
  position: absolute;
  content: "";
  top: calc(var(--slot-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--slot-height) / 6));
  background-image: linear-gradient(var(--rotate), rgb(208, 250, 0), rgb(255, 161, 20) 36%, rgba(255, 0, 0, 0.51));
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
}
.slot .bor_reel {
  border: 3px dashed #e4e256;
  border-radius: 15px;
}
.slot .bor_reel .reel {
  position: relative;
  width: 104px;
  height: 312px;
  background-image: url("../0629.png");
  background-repeat: repeat-y;
  background-position: 0 10px;
}

.say {
  margin-top: 2rem;
  font-size: 2rem;
  letter-spacing: 4px;
  padding: 8px 10px;
  background: #7a1017;
  color: white;
  border: 2mm ridge rgba(252, 183, 86, 0.6);
  border-radius: 15px;
  font-family: "Noto Sans TC", sans-serif;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px rgb(255, 0, 0), 0 0 35px rgb(255, 0, 0), 0 0 40px rgb(255, 0, 0), 0 0 60px rgb(255, 0, 0), 0 0 90px rgb(255, 0, 0);
}
.say:hover {
  cursor: pointer;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
@keyframes win1 {
  0% {
    background: linear-gradient(45deg, orange 0%, yellow 100%);
    box-shadow: 0 0 80px orange;
  }
  100% {
    background: linear-gradient(45deg, grey 0%, lightgrey 100%);
    box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.3);
  }
}
@keyframes win2 {
  0% {
    background: linear-gradient(45deg, lightblue 0%, lightgreen 100%);
    box-shadow: 0 0 80px lightgreen;
  }
  100% {
    background: linear-gradient(45deg, grey 0%, lightgrey 100%);
    box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.3);
  }
}/*# sourceMappingURL=style.css.map */